# If you're tweaking this file from the template, ensure you edit at least the
# following variables:
# - DJANGO_SECRET_KEY
# - STOCKAZIO_HOSTNAME
# - EMAIL_CONFIG and DEFAULT_FROM_EMAIL (to be able to use the password reset feature)
# On non-docker setup **only**, you'll also have to tweak/uncomment those variables:
# - DATABASE_URL
# - CACHE_URL

# Set this variables to bind the API server to another interface/port
# example: STOCKAZIO_API_IP=0.0.0.0
# example: STOCKAZIO_API_PORT=5678
STOCKAZIO_API_IP=127.0.0.1
STOCKAZIO_API_PORT=5000
# The number of web workers to start in parallel. Higher means you can handle
# more concurrent requests, but also leads to higher CPU/Memory usage
STOCKAZIO_WEB_WORKERS=1
# Replace this by the definitive, public domain you will use for
# your instance
STOCKAZIO_HOSTNAME=yourdomain.stockazio
STOCKAZIO_PROTOCOL=https

# Configure email sending using this variale
# By default, stockazio will output emails sent to stdout, which isn't that practical for password reset of non-admin users...
# here are a few examples for this setting
# EMAIL_CONFIG=consolemail://         # output emails to console (the default)
# EMAIL_CONFIG=dummymail://          # disable email sending completely
# On a production instance, you'll usually want to use an external SMTP server:
# EMAIL_CONFIG=smtp://user@:password@youremail.host:25
# EMAIL_CONFIG=smtp+ssl://user@:password@youremail.host:465
# EMAIL_CONFIG=smtp+tls://user@:password@youremail.host:587

# The email address to use to send system emails.
# DEFAULT_FROM_EMAIL=noreply@yourdomain

# API/Django configuration

# Database configuration
# Examples:
#  DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>
#  DATABASE_URL=postgresql://stockazio:passw0rd@localhost:5432/stockazio_database
# Use the next one if you followed Debian installation guide
# DATABASE_URL=postgresql://stockazio@:5432/stockazio

# Where media files (such as album covers or audio tracks) should be stored
# on your system?
# (Ensure this directory actually exists)
MEDIA_ROOT=/srv/stockazio/data/media

# Where static files (such as API css or icons) should be compiled
# on your system?
# (Ensure this directory actually exists)
STATIC_ROOT=/srv/stockazio/data/static

# which settings module should django use?
# You don't have to touch this unless you really know what you're doing
DJANGO_SETTINGS_MODULE=config.settings.production

# Generate one using `openssl rand -base64 45`, for example
DJANGO_SECRET_KEY=

# You don't have to edit this, but you can put the admin on another URL if you
# want to
# DJANGO_ADMIN_URL=^api/admin/

# Set your Mouser API key if you want to use the order importer
# MOUSER_API_KEY=
# Available reasonnable API values:
# ThisWeek, ThisMonth, ThisQuarter, ThisYear
# MOUSER_IMPORT_FILTER=ThisMonth

DJANGO_ALLOWED_HOSTS=localhost,stockazio

PAGINATION_DEFAULT=25
PAGINATION_FOOTPRINTS=20
PAGINATION_MANUFACTURERS=20
PAGINATION_DISTRIBUTORS=20
PAGINATION_STORAGES=20
PAGINATION_PART_UNITS=20
PAGINATION_PARAMETERS_UNITS=20
PAGINATION_PARTS=20
PAGINATION_ORDERS_IMPORTER=10
