STOCKAZIO_API_IP=127.0.0.1
STOCKAZIO_API_PORT=8000
STOCKAZIO_WEB_WORKERS=1
STOCKAZIO_HOSTNAME=127.0.0.1
STOCKAZIO_PROTOCOL=http
DJANGO_ALLOWED_HOSTS=localhost,0.0.0.0,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local
DATABASE_URL=postgresql://stockazio@:5432/stockazio
# Set your Mouser API key if you want to use the order importer
# MOUSER_API_KEY=
# Available reasonnable API values:
# LastWeek, LastMonth, LastQuarter, LastYear
# MOUSER_IMPORT_FILTER=LastMonth
