@import "primevue/resources/themes/bootstrap4-light-purple/theme.css";
// @import "primevue/resources/themes/bootstrap4-dark-purple/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "fork-awesome/css/fork-awesome.css";

div#preloadScreen {
    font-size: 1.5em;
    text-align: center;

    color: black;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.p-menubar {
    padding-top:0px !important;
}

.sidebar {
    // z-index: -999; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

/* Categories */
ul.mptt-tree-storage_categories,
ul.mptt-tree-storage_categories ul {
  list-style: none;
}

ul.cat-list {
  text-align: left;
  margin: 0;
  padding-left: 5px;
//   padding-top: 5px;
  padding-bottom: 5px;
}

ul.cat-list {
  list-style: none;
}

ul.cat-list ul.children {
  list-style: none;
  margin: 0;
  padding-left: 15px;
}

ul.cat-list li {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.cat-list li a {
  font-size: 13px;
  margin: 0;
  text-decoration: none;
}

ul.cat-list li a:hover {
  background-color: lightgrey;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}