appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
black==19.10b0
Click==7.0
Django==3.0.1
django-appconf==1.0.3
django-crispy-forms==1.8.1
django-imagekit==4.0.2
django-js-asset==1.2.2
django-mptt==0.10.0
entrypoints==0.3
flake8==3.7.9
mccabe==0.6.1
pathspec==0.7.0
pilkit==2.0
Pillow==6.2.1
psycopg2==2.8.4
pycodestyle==2.5.0
pyflakes==2.1.1
python-magic==0.4.15
pytz==2019.3
PyYAML==5.2
regex==2019.12.20
six==1.13.0
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.0
