appdirs==1.4.4
asgiref==3.5.2
attrs==21.4.0
backcall==0.2.0
black==22.8.0
Django==4.0.7
django-admin-list-filter-dropdown==1.0.3
django-appconf==1.0.5
django-debug-toolbar==3.6.0
django-imagekit==4.1.0
django-mptt==0.13.4
entrypoints==0.4
flake8==5.0.4
h11==0.13.0
httptools==0.4.0
mccabe==0.7.0
parso==0.8.3
pathspec==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
pilkit==2.0
Pillow==9.0.1
prompt-toolkit==3.0.30
psycopg2==2.9.3
ptyprocess==0.7.0
python-magic==0.4.25
pytz==2022.2.1
PyYAML==6.0
regex==2022.8.17
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
traitlets==5.1.1
typed-ast==1.5.2
uvicorn==0.18.3
gunicorn==20.1.0
uvloop==0.16.0
wcwidth==0.2.5
websockets==10.1
django-oauth-toolkit==1.7.0
django-cors-headers==3.11.0
django-environ==0.8.1
djangorestframework==3.13.1
django-extensions==3.1.5
drf-yasg==1.21.3
drf-writable-nested==0.6.3
pytest-django==4.5.2
pytest==7.1.2
pytest-cov==3.0.0
factory_boy==3.2.1
persisting-theory==0.2.1
pytest-env==0.6.2
django-silk==5.0.1
djangorestframework-csv==2.1.1
drf-excel==2.1.0
fpdf==1.7.2
