name: StockazIO API backend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r api/requirements.txt
        cp deploy/env.dev.sample .env
    - name: Check black formatting
      run: |
        cd api
        black --check .
    - name: Check flake8
      run: |
        cd api
        flake8 .
    - name: Test with pytest
      run: |
        cd api
        pytest
