name: StockazIO API backend

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Python dependencies
      run: |
        sudo apt install python-dev libpq-dev
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install -r api/requirements.txt
        cp .github/.env.test .env
    - name: Check black formatting
      run: |
        cd api
        black --check .
    - name: Check flake8
      run: |
        cd api
        flake8 .
    - name: Test migrations
      run: |
        cd api
        python manage.py migrate
    - name: Test database seeds
      run: |
        cd api
        python manage.py seeds_database
    - name: Test with pytest
      run: |
        cd api
        pytest
